In [1]:
import pandas as pd
import numpy as np
import os
os.chdir(r'D:\paper\rowdata')

hhi = pd.read_csv("HHI.csv", dtype={"EndDate": str})
hhi

,IndustryCode,IndustryName,EndDate,Markettype,ST,IsNewOrSuspend,HHI_A
0,A01,农业,2009-12-31,15,1,0,0.156397
1,A02,林业,2009-12-31,15,1,0,0.543459
2,A03,畜牧业,2009-12-31,15,1,0,0.188079
3,A04,渔业,2009-12-31,15,1,0,0.238033
4,A05,农、林、牧、渔服务业,2009-12-31,15,1,0,0.926152
...,...,...,...,...,...,...,...
993,H62,餐饮业,2021-12-31,15,1,0,0.524013
994,A05,农、林、牧、渔服务业,2021-12-31,15,1,0,NaN
995,R87,文化艺术业,2021-12-31,15,1,0,0.414917
996,A02,林业,2021-12-31,15,1,0,1.000000
997,E47,房屋建筑业,2021-12-31,15,1,0,1.000000

In [3]:
hhi = hhi.iloc[:, [0,2,6]]

In [5]:
hhi = hhi.rename(columns={"IndustryCode":"Ind", "EndDate":"Time","HHI_A":"HHI"})
hhi

     Ind        Time       HHI
0    A01  2009-12-31  0.156397
1    A02  2009-12-31  0.543459
2    A03  2009-12-31  0.188079
3    A04  2009-12-31  0.238033
4    A05  2009-12-31  0.926152
..   ...         ...       ...
993  H62  2021-12-31  0.524013
994  A05  2021-12-31       NaN
995  R87  2021-12-31  0.414917
996  A02  2021-12-31  1.000000
997  E47  2021-12-31  1.000000

[998 rows x 3 columns]

In [7]:
hhi.to_csv("HHI_clean.csv", index=False)