# 利润表

In [1]:
import os
os.chdir(r"D:\paper\rowdata")
import pandas as pd
import numpy as np

In [2]:
income = pd.read_csv('income.csv', parse_dates=[1], infer_datetime_format=True,
                    dtype={'Stkcd':str})
income.head(20)

     Stkcd     Accper Typrep    B001101000    B001300000    B002000000
0   000002 2009-01-01      B  3.337248e+08  1.584674e+09  1.582020e+09
1   000002 2009-03-31      B  3.361760e+06 -1.459394e+08 -1.438441e+08
2   000002 2009-06-30      B  1.708082e+08  2.791875e+09  2.794601e+09
3   000002 2009-09-30      B  1.819187e+08  2.671821e+09  2.674547e+09
4   000002 2009-12-31      B  4.438747e+08  2.873544e+09  2.874475e+09
5   000002 2010-01-01      B  4.438747e+08  2.873544e+09  2.874475e+09
6   000002 2010-03-31      B  8.167148e+06  4.708690e+05  4.308990e+05
7   000002 2010-06-30      B  2.738485e+07  2.873755e+09  2.873736e+09
8   000002 2010-09-30      B  4.526791e+07  3.042169e+09  3.042161e+09
9   000002 2010-12-31      B  5.440506e+08  3.075290e+09  3.083108e+09
10  000002 2011-01-01      B  5.440506e+08  3.075290e+09  3.083108e+09
11  000002 2011-03-31      B  9.269522e+06  9.584526e+07  9.684526e+07
12  000002 2011-06-30      B  7.270467e+07  4.412425e+09  4.415777e+09
13  000002 2011-09-30      B  1.110742e+08  4.493028e+09  4.498079e+09
14  000002 2011-12-31      B  6.084439e+08  4.366492e+09  4.372887e+09
15  000002 2012-01-01      B  6.084439e+08  4.366492e+09  4.372887e+09
16  000002 2012-03-31      B  1.366710e+05 -5.742180e+07 -5.740709e+07
17  000002 2012-06-30      B  1.139240e+06  5.036257e+09  5.036214e+09
18  000002 2012-09-30      B  2.221161e+06  4.901828e+09  4.903572e+09
19  000002 2012-12-31      B  8.839062e+08  5.607606e+09  5.613873e+09

只需要年报数据：

In [4]:
income_ls = []

years = ['2009','2010','2011','2012','2013',
         '2014','2015','2016','2017','2018',
         '2019','2020','2021']

for year in years:
    date = year + '-12-31'
    income_ls.append(income[income["Accper"]==date])
    
income_1 = pd.concat(income_ls)

---

删除报表类型一列

In [6]:
income_1 = income_1.drop(['Typrep'], axis=1)

income_1

         Stkcd     Accper    B001101000    B001300000    B002000000
4       000002 2009-12-31  4.438747e+08  2.873544e+09  2.874475e+09
68      000004 2009-12-31  5.121243e+05 -1.287402e+06 -1.287402e+06
132     000005 2009-12-31  0.000000e+00 -4.161218e+07 -4.160978e+07
196     000006 2009-12-31  1.526167e+09  2.680203e+08  2.719237e+08
260     000007 2009-12-31  2.172163e+07 -1.278129e+07  7.275538e+07
...        ...        ...           ...           ...           ...
140029  605580 2021-12-31  7.145359e+08  1.299219e+08  9.969488e+07
140031  605588 2021-12-31  6.265889e+08  3.862809e+07  3.528501e+07
140033  605589 2021-12-31  3.774491e+09  3.521259e+08  3.072477e+08
140035  605598 2021-12-31  2.936079e+08  3.364295e+07  2.973618e+07
140037  605599 2021-12-31  1.041438e+10  4.977271e+08  3.630460e+08

[29181 rows x 5 columns]

---

列名重命名：

In [7]:
income_1 = income_1.rename(
    columns = {"Stkcd": "Code", "Accper": "Time",
               "B001101000": "Yysr", "B001300000": "Yylr",
               "B002000000": "Jlr"}
)

income_1

          Code       Time          Yysr          Yylr           Jlr
4       000002 2009-12-31  4.438747e+08  2.873544e+09  2.874475e+09
68      000004 2009-12-31  5.121243e+05 -1.287402e+06 -1.287402e+06
132     000005 2009-12-31  0.000000e+00 -4.161218e+07 -4.160978e+07
196     000006 2009-12-31  1.526167e+09  2.680203e+08  2.719237e+08
260     000007 2009-12-31  2.172163e+07 -1.278129e+07  7.275538e+07
...        ...        ...           ...           ...           ...
140029  605580 2021-12-31  7.145359e+08  1.299219e+08  9.969488e+07
140031  605588 2021-12-31  6.265889e+08  3.862809e+07  3.528501e+07
140033  605589 2021-12-31  3.774491e+09  3.521259e+08  3.072477e+08
140035  605598 2021-12-31  2.936079e+08  3.364295e+07  2.973618e+07
140037  605599 2021-12-31  1.041438e+10  4.977271e+08  3.630460e+08

[29181 rows x 5 columns]

In [8]:
income_1.to_csv("income_clean.csv", index=False)